<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shopping list app</title>
    <meta name="description" content="A simple shopping list application. You can add and remove items if you like." />

    <!-- css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
    
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container" ng-controller="ShoppingListController">
		<h1>{{title}}</h1>
		<div class="row">
			<div class="col-sm-12">
				<ul class="list-group">
					<li ng-repeat="item in shopList" class="list-group-item">
						{{item}}
						<button type="button" class="close" aria-label="Close" ng-click="removeItem($index)"><span aria-hidden="true">&times;</span></button>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-xs-8 text-center">
				<label class="sr-only" for="newItem">New shopping item</label>
				<input type="text" class="form-control input-lg" id="newItem" placeholder="New shopping item" ng-model="newItem" />
			</div>
			<div class="col-sm-2 col-xs-4 text-center">
				<button type="button" class="btn btn-primary btn-lg" ng-click="addItem()">Add item</button>
			</div>
		</div>
		<p class="bg-danger text-center" ng-show="errorText.length" ng-click="errorText=''">{{errorText}}</p>
		
		<hr />
		<a href="http://devrunner.pl/" class="footer-logo center-block">DevRunner.pl</a>
    </div>
    
    <!-- Angular -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- App -->
    <script src="js/app.js"></script>
</body>
</html>
