<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp" ng-cloak ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shopping list app</title>
    <meta name="description" content="A simple shopping list application. You can add and remove items if you like." />
	<meta name="author" content="Przemek Jazlo <przemek@devrunner.pl>" />

	<!-- fb open graph -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Shopping List App" />
	<meta property="og:description" content="Create your own shopping list. Add and remove items as you like." />
	<meta property="og:url" content="http://shopping.devrunner.pl/" />
	<meta property="og:image" content="http://shopping.devrunner.pl/assets/img/icon/fb_image.png" />
	

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/img/icon/favicon-16x16.png">
	<link rel="manifest" href="assets/img/icon/manifest.json">
	<link rel="mask-icon" href="assets/img/icon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="assets/img/icon/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Shopping List App">
	<meta name="application-name" content="Shopping List App">
	<meta name="msapplication-config" content="assets/img/icon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- css -->
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
    
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container" ng-controller="ShoppingListController as shopCtrl">
		<h1><a href="/#">{{ shopCtrl.title }}</a></h1>
		
		<!-- shop list -->
		<div class="row">
			<div class="col-sm-12">
				<ul class="list-group">
					<li ng-repeat="item in shopCtrl.storage.list" class="list-group-item">
						{{ item }}
						<button type="button" class="close" aria-label="Close" ng-click="shopCtrl.removeItem($index)"><span aria-hidden="true">&times;</span></button>
					</li>
				</ul>
			</div>
		</div>

		<!-- add new item -->
		<div class="row">
			<div class="col-sm-10 col-xs-8 text-center">
				<form ng-submit="shopCtrl.addItem()" novalidate autocomplete="off">
					<label class="sr-only" for="newItem">New shopping item</label>
					<input type="text" class="form-control input-lg" id="newItem" placeholder="New shopping item" ng-model="shopCtrl.newItem" />
				</form>
			</div>
			<div class="col-sm-2 col-xs-4 text-center">
				<button type="button" class="btn btn-primary btn-lg" ng-click="shopCtrl.addItem()">Add item</button>
			</div>
		</div>
		
		<!-- error message -->
		<div class="row errorMsg">
			<div class="col-sm-12">
				<div uib-alert type="danger" ng-if="shopCtrl.errorText.length" class="text-center"
					close="shopCtrl.closeAlert()" dismiss-on-timeout="2000"><strong>{{ shopCtrl.errorText }}</strong></div>

				<a href="#" ng-click="shopCtrl.reset()">Clear list</a>
			</div>
		</div>

		<hr />
		<p class="author-foot">developed by: <a href="http://devrunner.pl/" class="footer-logo">DevRunner.pl</a></p>
		<hr />
    </div>
    
    <!-- Angular -->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="libs/ngstorage/ngStorage.js"></script>

    <!-- App -->
    <script src="app/shoppinglist.module.js"></script>
	<script src="app/shoppinglist.controller.js"></script>

</body>
</html>
