.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding: 15px 0;
	text-align: center;
}
h1 > a {
	color: #ec5a5a;
}
h1 > a:hover {
	text-decoration: none;
	color: #cc0000;
}
h1 > a:active, h1 > a:visited, h1 > a:focus {
	text-decoration: none;
	color: #ec5a5a;
}

.list-group .list-group-item:nth-child(odd){
  background-color: #f6f6f6;
}
.list-group-item {
	font-size: 22px;
	padding: 15px 11px;
}
.list-group-item .close {
    font-size: 35px;
}

.errorMsg {
	margin-top: 20px;
}

/* AUTHOR FOOTER */
.author-foot {
	line-height: 24px;
	height: 24px;
	font-size: 0.85em;
	color: #d2d2d2;
	margin: 0 auto;
	text-align: center;
}
.footer-logo {
	display: inline-block;
	width: 170px;
	height: 24px;
	background: no-repeat url('../img/logo.png') 0 0;
	text-indent: -99999px;
}
.footer-logo:hover{
	background-position: 0 -24px;
}